* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  html,
  body {
    width: 100%;
    height: 100%;
  }
}
html {
  font-size: clamp(10px, 1vw, 20px); // for responsiveness
}
// header section - event bar  , navigation bar
header {
  width: 100%;
  position: fixed;
  // moadaal
  .sidebar{
    position: absolute;
    right: 5%;
    top: 104%;
    display: none;
    ul{
    padding: 0.5em;
      list-style: none;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      background-color: #fffffff0;
      gap: 1em;
      li {
        padding: 0.5em 4.5em 0.5em 0.5em;
        border-radius: 5px;
        // background-color: rgba(150, 61, 61, 0.391);
        &:hover{
          transition: all 0.3s linear;
          scale: 0.99;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        a {
          text-decoration: none;
          color: #4a4a4a;
          font-size: 1.5em;
          font-family: "Google Sans", sans-serif;
          font-weight: 700;
          &:hover {
            color: #2f3030;
          }
        }
       
      }
    }
  }
  // event bar
  .event-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    background: linear-gradient(45deg, #057bfc, #7f40f2);
  }
  //   navigation bar
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1vw 3.1rem;
    align-items: center;
    background-color: #fff;
    i {
      display: none;
    }
    ul {
      display: flex;
      gap: 2em;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #4a4a4a;
          font-size: 14px;
          font-family: "Google Sans", sans-serif;
          font-weight: 700;
        }
        a:hover {
          color: #057bfc;
        }
        &:nth-last-child(1) {
          a {
            color: white;
            padding: 10px 20px;
            background-color: #0468d7;
            border-radius: 50px;
          }
          a:hover {
            background-color: #057bfc;
          }
        }
      }
    }
  }
}
// main section
main {
  // page 1
  .view1 {
    padding: 10vw 12vw 4vw 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5em;
    background: linear-gradient(313deg, #d3fff5, #f3fcff);
    .view1-top {
      display: flex;

      & > * {
        flex-basis: 50%;
      }

      .view1-top-left {
        display: flex;
        align-items: center;
        h1 {
          padding: 0 0.5em;
          font-size: 4.5em;
          line-height: 1.1em;
        }
      }

      .view1-top-right {
        img {
          width: 100%;
        }
      }
    }
    .view1-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2em 5em 0 5em;
      p {
        font-size: 2.5em;
        line-height: 1.1em;
        text-align: center;
      }
    }
  }
  // page 2
  .view2 {
    padding: 5vw 10vw;

    .container {
      display: flex;
      gap: 2.5em;
      .card {
        border-top: 4px solid #cfd1d4;
        display: flex;
        flex-direction: column;
        padding-right: 5vw;
        padding-top: 2.2vw;
        gap: 1.5vw;
        h2 {
          font-size: 2em;
        }
        p {
          font-size: 1.2em;
          opacity: 0.7;
        }

        img {
          margin-top: 5vh;
          max-width: 20em;
          object-fit: cover;
        }
      }
    }
  }
  // page 3
  .view3 {
    padding: 5vw 9vw;
    display: flex;
    background-color: #196bd4;
    background-image: linear-gradient(to bottom, #196bd4 20%, transparent 60%), radial-gradient(ellipse at -50% -150%, transparent 80%, #196bd4 80%), linear-gradient(145deg,#196bd4 0, #1783e1 60%);
    color: white;
    .view3-container {
      flex-basis: 100%;
      padding: 2em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    gap: 5em;
      .view3-top {
        padding: 0 6em 0 3em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        p {
          font-size: 2em;
          font-weight: 700;
        }
        h1 {
          font-size: 4em;
          line-height: 1em;
        }
      }
      .view3-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 6em;
        gap: 2vw;
        .view3-card-container {
          display: flex;
         & >*{
          flex-basis: 50%;
         }
          gap: 5em;
         
          .card {
            padding: 1.8em;
            border: 2px solid transparent;
            transition: box-shadow 0.3s ease;

            &:hover{
              box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.2);

            }
            h2{
              font-size: 2em;
              font-weight: 700;
              margin: 0.8em 0;
            }
            p{
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }
  // view  page 8 extra classes
  .font{
    line-height: 1em;
    font-size: 3.5em;
    padding-right:5em;
  }
  .font-small{
    color: #777879;
          line-height: 1.3;
          font-size: 1.5em;
          margin-bottom: 0.5em;
          font-weight: 700;
  }
  .font-sm{
    font-size: 2.5em !important;
    font-weight: 500 !important;
  }.font-smm{
    font-size: 1.9em !important;
    font-weight: 500 !important;
  }
  .m-x{
margin: 0.9em 0;
  }
  .font-semi{
    font-size: 2em !important;
  }
.w-full{
    width: 27em !important;
  }
  .m-t{
    margin-top: -10%;
  }

  .p-reset{
padding: 0 !important;
  }
  .p-xl{
    padding: 4em 12em !important;
  }
  .p{
    padding: 2em 0em 1em 4em;
  }
  
  .fit{
    width: fit-content;
  }
  .linear-grad{
    border-radius: 50px;
    background-image: linear-gradient(90deg, #9cc4f5, #b8f0f7);
  }
  .justify{
    display: flex;
    justify-content: flex-end;
  }
  
   // page 5 -se page 7 tak same code hai class view5 hai sabka
   .view5 {
    .top{
      padding: 1em 3em;
    }
    padding: 3vw 5vw 3vw 15vw;
    .container-view5 {
      display: flex;
      align-items: center;
      gap: 2em;
      & > * {
        flex-basis: 50%;
      }
      .container-view5-left {
        padding: 5vw 5vw 10vh 0;
        display: flex;
        flex-direction: column;
        
        h3 {
          font-size: 1.4em;
          color: #777879;
          margin-bottom: 1.2vw;
        }
        h1 {
          line-height: 1em;
          font-size: 4em;
        }
        p {
          margin: 2vw 0;
          color: #777879;
          line-height: 1.3;
          font-size: 1.3em;
        }
        .btn-links {
          margin-top: 1vw;
          display: flex;
          align-items: center;
          gap: 5vw;
          & > * {
            text-decoration: none;
          }
          & > :nth-child(1) {
            padding: 0.6em 2em;
            border: 1px solid #0468d7;
            color: #0468d7;
            border-radius: 50px;
            font-weight: 500;
          }
          & > :nth-child(1):hover {
            background-color: #0468d7;
            color: white;
          }
          & :nth-child(2) {
            display: inline;
            color: black;
            span {
              border: none !important;
              padding: 0;
              transition: all 0.3s linear;
            }
          }
          & :nth-child(2):hover {
        
            span{
                transition: all 0.3s linear;
                padding-left: 2px;
              }
          }
        }
      }
      // right
      .container-view5-right {
        img {
          width: 30em;
          object-fit: contain;
        }
      }
    }
  }

  .row-reverse{
    flex-direction: row-reverse;
  }
  .p-0{
   border-bottom: 2px solid #79777724;
  }
}
// footer
footer {
  background: #f8f9fa;
  position: relative;
  bottom: 0;
  padding: 10%;

  .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .footer-main {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 65px;
  }

  .footer-info-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .info1, 
      .info2, 
      .info3 {
          margin-top: 2rem;
          margin-left: 2rem;
      }
  }

  .no-bullets {
      list-style-type: none;
      padding-left: 0;
      margin: 0;

      li {
          font-size: 1.2rem;
          font-weight: 400;
          padding: 0.5rem;

          a {
              text-decoration: none;
              color: rgba(0, 0, 0, 0.7);
              transition: all 0.5s linear;

              &:hover {
                  color: #0468D7;
                  cursor: pointer;
                  transition: all 0.5s linear;
              }
          }

          &:hover {
              color: #0468D7;
              cursor: pointer;
              transition: all 0.5s linear;
          }
      }
  }

  .footer-logo-section {
      img {
          max-width: 80%;
      }
  }

  .social {
      width: 100%;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      margin: 1rem;
      gap: 2em;

      a{
        margin-right: 1rem;
        color: rgba(0, 0, 0, 0.7);
        transition: all 0.5s linear;
        font-size: 2em;
        text-decoration: none;
        &:hover {
            color: #0468D7;
            cursor: pointer;
            scale: 1.1;
            transition: all 0.5s linear;
        }
       
      }
   
  }

  .line {
      border-top: 2px solid rgba(0, 0, 0, 0.5);
      width: 100%;
      margin: 20px 0;
  }

  .footer-tray {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      .tray1 {
          min-width: 250px;
          width: 60%;
          font-size: 0.9rem;
          flex-basis: 60%;

          p {
              width: 100%;
          }
      }

      .tray2 {
          flex-basis: 40%;
          min-width: 250px;

          ul {
              display: flex;
              justify-content: space-evenly;
              color: rgba(0, 0, 0, 0.6);
              font-size: 0.5rem;
          }
      }
  }
}


// for mobile screens
@media (max-width: 800px) {
  // header section - event bar  , navigation bar
  header {
    // event bar
    .event-bar {
      padding: 5vw 2vw;
      font-size: 1.2em;
    }
    //   navigation bar
    nav {
      gap: 1.8em;
      padding: 1.5em 3em;
      figure {
        img {
          width: 40%;
        }
      }

      i {
        display: block;
        font-size: 2em;
      }
      ul {
        display: none;
      }
    }
  }
  main {
    .p {
      padding: 0em 2em 2em 2em;
  }
.p-xl{
  padding: 1em!important;
}
    .font{
      padding-right: 0em !important;
      margin-bottom: 1em;
    }
    // page 1
    .view1 {
      padding: 20vh 4vw 20vw 4vw;
      .view1-top {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 8em;
        .view1-top-left {
          display: flex;
          align-items: center;
          h1 {
            font-size: 4em;
            text-align: center;
            padding: 0;
          }
        }
        .view1-top-right {
          display: flex;
          justify-content: center;
          img {
            width: 80%;
          }
        }
      }
      .view1-bottom {
        padding: 5em 1em;
      }
    }
    // page2
    .view2 {
      .container {
        flex-direction: column;
        align-items: center;
        .card {
          width: 80%;
          gap: 1.2em;
          padding: 0 0 20px 0px;
          border-top: 0px;
          border-bottom: 4px solid #cfd1d4;
        }
      }
    }
    .view3 {
      .view3-container{
        .view3-bottom {
gap: 5em;
padding-right: 0;
          .view3-card-container{
            flex-direction: column;
          }
        }
      } 
    }
     // page5 -page 7 are declared using view5
     .view5{
      padding: 5em 0.8em;
      .top{
        padding: 1em;
      }
      .container-view5{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        .container-view5-left{
          font-size: 1.2rem;
          gap: 1.2em;
          padding: 3em 1.2em;
            .btn-links{
              gap: 2vw;
             a
              {  padding: 6px 10px;
              }
            }   
        }
       
      }
    }
  }
}
// for wide screens
@media (min-width: 1900px) {
  main {
  
    .view-top-gradient {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(313deg, #d3fff5, #f3fcff);
      .view1 {
        padding: 20vw 4vw;
        .view1-top {
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          gap: 8em;
          .view1-top-left {
            display: flex;
            align-items: center;
            padding: 0 4vw;
            h1 {
              font-size: 6em;
              text-align: center;
              padding: 0;
            }
          }
          .view1-top-right {
            display: flex;
            justify-content: center;
            img {
              width: 50%;
            }
          }
        }
        .view1-bottom {
          padding: 5em 1em;
          p {
            width: 40%;
            font-size: 8em;
          }
        }
      }
    }
  }
}
